#jt-med-hist-modal {
    div {
        box-sizing: border-box;
    }
    .jt-fieldname {
        width: 90px;
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
    }
    .jt-fieldval {
        width: calc(100% - 90px);
        padding-left: 8px;
    }
    .card {
        width: 100%;
        margin-bottom: 16px;
        padding: 16px;
        min-width: 200px;
        box-shadow:0px 0px 8px 0px rgba(0,0,0,.5);
    }
    .card-title {
        height: 32px;
        font-size: 16px;
    }
}